main {
    background-image: url('/rooms/BFA2023/images/backgrounds/part1.jpg');
    background-position: center;
    background-size: cover;
}

#objective {
    background-image: url('/rooms/BFA2023/images/objectives/part1.jpg');
    background-position: center;
    background-size: cover;
}