main {
    background-image: url('/rooms/BWI2022/images/part2.jpg');
    background-position: center;
    background-size: cover;
}

#objective {
    background-image: url('/rooms/BWI2022/images/gate-lock.jpg');
    background-position: center;
    background-size: cover;
}