main {
    background-image: url('/rooms/BWI2022/images/part1.jpg');
    background-position: center;
    background-size: cover;
}

#objective {
    background-image: url('/rooms/BWI2022/images/neon-cow.jpg');
    background-position: center;
    background-size: cover;
}