main {
    background-image: url('/rooms/BFA2022/images/part3.jpg');
    background-position: center;
    background-size: cover;
}

#objective {
    background-image: url('/rooms/BFA2022/images/disassemble.jpg');
    background-position: center;
    background-size: cover;
}