main {
    justify-content: center;
    padding: 5vh 15vw 5vh 15vw;
    min-height: 70vh;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;

    width: 100%;
    padding: 5vh 0 5vh 0;

    border-radius: 15px;
    background-color: var(--module-color);

    text-align: left;
}

.banner > * {
    margin: 0 5vw 0 5vw;
}

.room-end-time {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3vh 0 3vh 0;
    padding: 0.5vh 3% 0.5vh 3%;
}

.room-end-time--medium {
    border-top: 4px solid var(--medium-color);
    border-bottom: 4px solid var(--medium-color);
}

.room-end-time--hard {
    border-top: 4px solid var(--hard-color);
    border-bottom: 4px solid var(--hard-color);
}

#room-end-time__value {
    font-family: 'Anonymous Pro', monospace;
    font-size: 70px;
    color: var(--accent-color-2);
}