.rooms__outline {
    display: flex;
}

.rooms__room {
    flex-direction: column;
    width: 75vw;

    margin-bottom: 50px;
}

.rooms__desc {
    border-radius: var(--border-radius-large) 0 0 0;
    background-color: var(--module-color);
}

.rooms__outline-route {
    display: flex;
    flex-direction: column;

    width: 40%;
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 0 var(--border-radius-large) 0 0;

    border-left: 4px solid white;
    background-color: var(--module-color);
}

.rooms__outline-route--medium {
    border-left-color: var(--medium-color);
}

.rooms__outline-route--hard {
    border-left-color: var(--hard-color);
}

.rooms__outline-route-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
}

.rooms__outline-route-list > span {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.rooms__instructions {
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);

    border-top: 4px solid white;
    background-color: var(--module-color);
}

.rooms__instructions--medium {
    border-top-color: var(--medium-color);
}

.rooms__instructions--hard {
    border-top-color: var(--hard-color);
}

.rooms__instruction-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}

.rooms__instruction-item > img {
    width: 35px;
}

.rooms__enter {
    display: flex;
    align-items: center;
    flex-flow: column;

    padding-top: 50px;
    row-gap: 15px;
}