.rooms {
    display: flex;
    flex-flow: column;
    row-gap: 50px;

    width: 100%;
}

.rooms__room {
    display: flex;
    border-radius: 15px;
}

.rooms__room--medium {
    border: 4px solid var(--medium-color);
}

.rooms__room--hard {
    border: 4px solid var(--hard-color);
}

.rooms__desc {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    width: 60%;
    padding: 3vh 3vw 3vh 3vw;
}

.rooms__difficulty {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.rooms__difficulty-images > img {
    width: var(--h4-size);
    height: auto;
}

.rooms__select {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 15px;
}

/* Room-specific backgrounds */
.rooms__select--BFA2022 {
    background-image:
    linear-gradient(to right, rgb(0, 0, 0, 1.0), 75%, rgb(0, 0, 0, 0.0)),
    url('/rooms/BFA2022/images/thumbnail.jpg');
}